<h1>What's your take on this one?</h1>

<p><img src="{{poster}}" /></p>
<p>{{title}}</p>
<p>{{plot}}</p>

<form class="myResult" action="/home/comparison" method="post">
  <input type="hidden" name="imdbRating" value="{{rating}}">
  <input type="hidden" name="title" value="{{title}}">
  <input type="integer" placeholder="what's your rating?" name="myRating">
  <input type="submit" value="compare">
</form>
