<h1>Unconventional?</h1>


<h2><i>{{title}}</i></h2>


<table>
    <tr>

        <th>IMDB rating</th>
        <th>My rating</th>


    </tr>

    <tr>
        <td>
            <font size="20">{{imdbRating}}</font>
        </td>
        <td>
            <font size="20" color="red">{{myRating}}</font>
        </td>
    </tr>
</table>


<p>What a savage critic!</p>
<form class="saveResult" action="/home/profile" method="post">
    <input type="hidden" name="title" value="{{title}}">
    <input type="hidden" name="imdb_rating" value="{{imdbRating}}">
    <input type="hidden" name="your_rating" value="{{myRating}}">
    <input type="submit" name="" value="Save your result!">
</form>

<br><br>
<a href="/home">Again?</a>
